{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudShelf</title>
    <link rel="stylesheet" href="{% static 'cloudshelf/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'cloudshelf/css/welcome_screen.css' %}">
    <script src="{% static 'cloudshelf/js/welcome_screen.js' %}" defer></script>
</head>
<body>
    <div class="title-wrapper">
        <h1>CloudShelf</h1>
    </div>
</body>
</html>